cms/wp-admin/
cms/wp-includes/
cms/wp-content/plugins/akismet
cms/license.txt
cms/readme.html
cms/wp-activate.php
cms/wp-blog-header.php
cms/wp-comments-post.php
cms/wp-config-sample.php
cms/wp-cron.php
cms/wp-links-opml.php
cms/wp-load.php
cms/wp-login.php
cms/wp-mail.php
cms/wp-settings.php
cms/wp-signup.php
cms/wp-trackback.php
cms/xmlrpc.php
cms/wp-content/plugins/hello.php
cms/wp-content/plugins/index.php
